<p>{{valorActual | plata}}</p>
<p>
    <i class="material-icons" ng-if="valorReforma > valorActual" class="up" ng-class="{'positive':ingreso,'negative':!ingreso}">trending_up</i>
    <i class="material-icons" ng-if="valorReforma < valorActual" class="down" ng-class="{'negative':ingreso,'positive':!ingreso}">trending_down</i>
    <i class="material-icons" ng-if="valorReforma == valorActual">swap_horiz</i>
    <strong>{{(valorReforma - valorActual) / valorActual * 100 | abs | number:2}} %</strong> 
    <small ng-if="valorReforma != valorActual">({{valorReforma - valorActual | plata}})</small>
</p>