<br>
<form class="form-horizontal">
  <fieldset>
    <legend>¡Vamos a jugar! ¿Cuánto me gano?</legend>
    <div class="form-group">
      <label for="inputSalario" class="col-md-2 control-label">Salario</label>
      <div class="col-md-10">
        <input ng-model="salario" ui-money-mask="0" ng-focus="limpiarSalario()" ng-blur="resetSalario()" type="text" class="form-control" id="inputSalario" placeholder="¿Cuánto ganas al mes?">
      </div>
    </div>
    <div class="form-group" ng-if="salario >= 13 * salarioMinimo">
      <label for="inputSalarioIntegral" class="col-md-2 control-label">¿Es salario integral?</label>
      <div class="col-md-10">
        <div class="togglebutton">
          <label>
            <input ng-model="salarioIntegral" ng-change="changeSalarioIntegral()" type="checkbox" id="inputSalarioIntegral">
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">Base gravable retefuente</label>
      <div class="col-md-10">
        {{baseGravableRetefuente | currency:"$ ":0}}
      </div>
    </div>
  </fieldset>
</form>
<fieldset>
    <legend>Lo que me quitan y lo que me queda</legend>
</fieldset>
<uib-tabset active="active">
  <uib-tab index="0" heading="Cada mes">
    <div class="row">
      <div class="col-md-6">
        <table class="table">
          <tr>
            <th colspan="2">Actualmente</th>
          </tr>
          <tr class="warning">
            <td>Pagos seguridad social</td>
            <td>{{actual.pagosSeguridadSocial | currency:"$ ":0}}</td>
          </tr>
          <tr class="danger">
            <td>Retefuente</td>
            <td>{{actual.retefuente | currency:"$ ":0}}</td>
          </tr>
          <!--<tr>
            <td>Canasta básica</td>
            <td>{{actual.CanastaBasica | currency:"$ ":0}}</td>
          </tr>-->
          <tr class="success">
            <td>Me quedan</td>
            <td>{{actual.flujoMensual | currency:"$ ":0}}</td>
          </tr>
        </table>
      </div>
      <div class="col-md-6">
        <table class="table">
          <tr>
            <th colspan="2">Con La Reforma</th>
          </tr>
          <tr class="warning">
            <td>Pagos seguridad social</td>
            <td>{{reforma.pagosSeguridadSocial | currency:"$ ":0}}</td>
          </tr>
          <tr class="danger">
            <td>Retefuente</td>
            <td>{{reforma.retefuente | currency:"$ ":0}}</td>
          </tr>
          <!--<tr>
            <td>Canasta básica</td>
            <td>{{reforma.CanastaBasica | currency:"$ ":0}}</td>
          </tr>-->
          <tr class="success">
            <td>Me quedan</td>
            <td>{{reforma.flujoMensual | currency:"$ ":0}}</td>
          </tr>
        </table>
      </div>
    </div>
  </uib-tab>
  <uib-tab index="1" heading="Cada año">
    <div class="row">
      <div class="col-md-6">
        <table class="table">
          <tr>
            <th colspan="2">Actualmente</th>
          </tr>
          <tr class="warning">
            <td>Pagos seguridad social</td>
            <td>{{actual.pagosSeguridadSocial * 12 | currency:"$ ":0}}</td>
          </tr>
          <tr class="danger">
            <td>Retefuente</td>
            <td>{{actual.retefuente * 12 | currency:"$ ":0}}</td>
          </tr>
          <tr class="danger">
            <td>Impuesto de renta</td>
            <!--<td>{{actual.renta | currency:"$ ":0}}</td>-->
            <td>En construcción...</td>
          </tr>
          <!--<tr>
            <td>Canasta básica</td>
            <td>{{actual.CanastaBasica | currency:"$ ":0}}</td>
          </tr>-->
          <tr class="success">
            <td>Me quedan</td>
            <td>{{actual.flujoAnual | currency:"$ ":0}}</td>
          </tr>
        </table>
      </div>
      <div class="col-md-6">
        <table class="table">
          <tr>
            <th colspan="2">Con La Reforma</th>
          </tr>
          <tr class="warning">
            <td>Pagos seguridad social</td>
            <td>{{reforma.pagosSeguridadSocial * 12 | currency:"$ ":0}}</td>
          </tr>
          <tr class="danger">
            <td>Retefuente</td>
            <td>{{reforma.retefuente * 12 | currency:"$ ":0}}</td>
          </tr>
          <tr class="danger">
            <td>Impuesto de renta</td>
            <!--<td>{{reforma.renta | currency:"$ ":0}}</td>-->
            <td>En construcción...</td>
          </tr>
          <!--<tr>
            <td>Canasta básica</td>
            <td>{{reforma.CanastaBasica | currency:"$ ":0}}</td>
          </tr>-->
          <tr class="success">
            <td>Me quedan</td>
            <td>{{reforma.flujoAnual | currency:"$ ":0}}</td>
          </tr>
        </table>
      </div>
    </div>
  </uib-tab>
</uib-tabset>