<md-toolbar class="md-primary">
  <div class="md-toolbar-tools">
    <h2 class="md-flex">¡Vamos a jugar! ¿Cuánto me gano?</h2>
  </div>
</md-toolbar>
<md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding layout-align="center center">
  <div>
    <md-input-container class="big-input">
      <label>Salario</label>
      <input ng-model="entradas.salario" ui-money-mask="0" ng-focus="limpiarSalario()" ng-blur="resetSalario()" placeholder="¿Cuánto ganas al mes?">
    </md-input-container>

    <md-input-container>
      <label>Contrato</label>
      <md-select ng-model="entradas.tipoContrato">
        <md-option ng-repeat="tipoContrato in tiposContrato" ng-value="tipoContrato.id">
            {{tipoContrato.nombre}}
        </md-option>
      </md-select>
    </md-input-container>

    <md-input-container ng-if="entradas.tipoContrato == 'laboral' && entradas.salario >= 13 * salarioMinimo">
      <md-switch ng-model="entradas.salarioIntegral" aria-label="¿Es salario integral?" class="md-primary">
        ¿Es salario integral?
      </md-switch>
    </md-input-container>
  </div>
</md-content>
<md-content layout-gt-sm="row" layout-padding layout-align="center center">
  <label>Medio de transporte</label>
  <md-radio-group ng-model="entradas.encuentasConsumo.transporte" layout="row">
    <md-radio-button value="carro"><i class="material-icons">directions_car</i> Carro</md-radio-button>
    <md-radio-button value="moto"><i class="material-icons">directions_bike</i> Moto</md-radio-button>
    <md-radio-button value="bus"><i class="material-icons">directions_bus</i> Bus</md-radio-button>
  </md-radio-group>
</md-content>
<md-content layout-gt-sm="row" layout-padding layout-align="center center">
  <label>Sexo</label>
  <img src="img/female.svg" ng-class="{'selected':entradas.sexo == 'f'}" ng-click="entradas.sexo = 'f'" class="icon-radio">
  <img src="img/male.svg" ng-class="{'selected': entradas.sexo == 'm'}" ng-click="entradas.sexo = 'm'" class="icon-radio">
</md-content>
<section layout="column" layout-wrap>
  <md-button ng-click="paso2()" ng-href="#paso2" du-smooth-scroll type="button" class="md-raised md-warn">¡Empezar!</md-button>
</section>
<md-toolbar id="paso2" class="md-primary" ng-if="paso2visible">
  <div class="md-toolbar-tools">
    <h2 class="md-flex">Lo que me quitan y lo que me queda</h2>
  </div>
</md-toolbar>
<md-content class="md-padding" ng-if="paso2visible">
  <md-tabs class="md-warn" md-dynamic-height md-border-bottom>
    <md-tab label="Cada mes">      
      <label class="col-md-2 control-label">Base gravable retefuente</label>
      <div class="col-md-10">
        {{baseGravableRetefuente | currency:"$ ":0}}
      </div>
      <div class="row">
        <div class="col-md-6">
          <table class="table">
            <tr>
              <th colspan="2">Actualmente</th>
            </tr>
            <tr class="warning">
              <td>Pagos seguridad social</td>
              <td>{{actual.pagosSeguridadSocial | currency:"$ ":0}}</td>
            </tr>
            <tr class="danger">
              <td>Retefuente</td>
              <td><strong>{{actual.retefuente | currency:"$ ":0}}</strong></td>
            </tr>
            <tr class="danger">
              <td>Impuestos gasolina</td>
              <td><strong>{{actual.indirectos.gasolina.impuestos | currency:"$ ":0}}</strong></td>
            </tr>
            <tr class="danger">
              <td>Impuestos prod. femeninos</td>
              <td><strong>{{actual.indirectos.productosFemeninos.iva | currency:"$ ":0}}</strong></td>
            </tr>
            <!--<tr>
              <td>Canasta básica</td>
              <td>{{actual.CanastaBasica | currency:"$ ":0}}</td>
            </tr>-->
            <tr class="success">
              <td>Me quedan</td>
              <td><strong>{{actual.flujoMensual | currency:"$ ":0}}</strong></td>
            </tr>
          </table>
        </div>
        <div class="col-md-6">
          <table class="table">
            <tr>
              <th colspan="2">Con La Reforma</th>
            </tr>
            <tr class="warning">
              <td>Pagos seguridad social</td>
              <td>{{reforma.pagosSeguridadSocial | currency:"$ ":0}}</td>
            </tr>
            <tr class="danger">
              <td>Retefuente</td>
              <td><strong>{{reforma.retefuente | currency:"$ ":0}}</strong></td>
            </tr>
            <tr class="danger">
              <td>Impuestos gasolina</td>
              <td><strong>{{reforma.indirectos.gasolina.impuestos | currency:"$ ":0}}</strong></td>
            </tr>
            <tr class="danger">
              <td>Impuestos prod. femeninos</td>
              <td><strong>{{reforma.indirectos.productosFemeninos.iva | currency:"$ ":0}}</strong></td>
            </tr>
            <!--<tr>
              <td>Canasta básica</td>
              <td>{{reforma.CanastaBasica | currency:"$ ":0}}</td>
            </tr>-->
            <tr class="success">
              <td>Me quedan</td>
              <td><strong>{{reforma.flujoMensual | currency:"$ ":0}}</strong></td>
            </tr>
          </table>
        </div>
      </div>
    </md-tab>
    <md-tab label="Cada año">
      <div class="row">
        <div class="col-md-6">
          <table class="table">
            <tr>
              <th colspan="2">Actualmente</th>
            </tr>
            <tr class="warning">
              <td>Pagos seguridad social</td>
              <td>{{actual.pagosSeguridadSocial * 12 | currency:"$ ":0}}</td>
            </tr>
            <tr class="danger">
              <td>Retefuente</td>
              <td><strong>{{actual.retefuente * 12 | currency:"$ ":0}}</strong></td>
            </tr>
            <tr class="danger">
              <td>Base gravable renta</td>
              <td>{{actual.renta.baseGravable > 0 ? actual.renta.baseGravable : 0  | currency:"$ ":0}}</td>
            </tr>
            <tr class="danger">
              <td>Impuesto de renta</td>
              <td>{{actual.renta.impuesto > 0 ? actual.renta.impuesto : 0 | currency:"$ ":0}}</td>
            </tr>
            <tr class="danger">
              <td>Impuestos gasolina</td>
              <td><strong>{{actual.indirectos.gasolina.impuestos * 12 | currency:"$ ":0}}</strong></td>
            </tr>
            <tr class="danger">
              <td>Impuestos prod. femeninos</td>
              <td><strong>{{actual.indirectos.productosFemeninos.iva * 12 | currency:"$ ":0}}</strong></td>
            </tr>
            <!--<tr>
              <td>Canasta básica</td>
              <td>{{actual.CanastaBasica | currency:"$ ":0}}</td>
            </tr>-->
            <tr class="success">
              <td>Me quedan</td>
              <td><strong>{{actual.flujoAnual | currency:"$ ":0}}</strong></td>
            </tr>
          </table>
        </div>
        <div class="col-md-6">
          <table class="table">
            <tr>
              <th colspan="2">Con La Reforma</th>
            </tr>
            <tr class="warning">
              <td>Pagos seguridad social</td>
              <td>{{reforma.pagosSeguridadSocial * 12 | currency:"$ ":0}}</td>
            </tr>
            <tr class="danger">
              <td>Retefuente</td>
              <td><strong>{{reforma.retefuente * 12 | currency:"$ ":0}}</strong></td>
            </tr>
            <tr class="danger">
              <td>Base gravable renta</td>
              <td>{{reforma.renta.baseGravable > 0 ? reforma.renta.baseGravable : 0  | currency:"$ ":0}}</td>
            </tr>
            <tr class="danger">
              <td>Impuesto de renta</td>
              <td>{{reforma.renta.impuesto > 0 ? reforma.renta.impuesto : 0  | currency:"$ ":0}}</td>
            </tr>
            <tr class="danger">
              <td>Impuestos gasolina</td>
              <td><strong>{{reforma.indirectos.gasolina.impuestos * 12 | currency:"$ ":0}}</strong></td>
            </tr>
            <tr class="danger">
              <td>Impuestos prod. femeninos</td>
              <td><strong>{{reforma.indirectos.productosFemeninos.iva * 12 | currency:"$ ":0}}</strong></td>
            </tr>
            <!--<tr>
              <td>Canasta básica</td>
              <td>{{reforma.CanastaBasica | currency:"$ ":0}}</td>
            </tr>-->
            <tr class="success">
              <td>Me quedan</td>
              <td><strong>{{reforma.flujoAnual | currency:"$ ":0}}</strong></td>
            </tr>
          </table>
        </div>
      </div>
    </md-tab>
  </md-tabs>
</md-content>